<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright 2026 Dixmit
     License AGPL-3.0 or later (https://www.gnu.org/licenses/agpl). -->
<odoo>
    <menuitem
        id="contributors_main_menu"
        name="Contributors"
        sequence="16"
        web_icon="contributors_github,static/description/icon.png"
    />
</odoo>
